body{
	height: 100vh;
	background-image: url("https://previews.123rf.com/images/tigatelu/tigatelu1404/tigatelu140400174/27656550-farm-cartoon-background.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

/* general styles */
.animalFont {
  font-family: "animalsnormal";
  font-size: 60px;
}

.ui-draggable-dragging {
    z-index: 999;
    border: 3px solid pink;
}
.animate {
    transform: rotate(5deg);
}

.ui-state-default {
  background-image: none;
  background-color: transparent;
  border: 0;
}

li.dragging {
    transform: rotate(10deg);

}

.original {
	opacity: 0.3;
}
.currentGhost {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0.9!important;
}

[data-draggable="target"]
{

	list-style-type:none;

	overflow-y:auto;

	color:#555;
}

/* draggable items */
[data-draggable="item"]
{
	display:block;
	list-style-type:none;
	
	margin:0 0 2px 0;
	padding:0.2em 0.4em;
	
	border-radius:0.2em;
	
	line-height:1.3;
}

/* droppied */

#droppable { 
    width: 150px; 
    height: 150px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px; 
}
  #draggable, #draggable-nonvalid { 
    width: 150px; 
    height: 150px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px 10px 10px 0; 
}

#gallery { 
    min-height: 12em; 
    height: 100vh;
}
.gallery.custom-state-active { background: #eee; }
.gallery {
      li { 
        float: left; 
        width: 96px; 
        padding: 0.4em; 
        margin: 0 0.4em 0.4em 0; 
        text-align: center; 
        width: 100px;
        height: 100px;

        &.ui-widget-content {
            transition: rotate ease 0.3s;
        background-color: transparent;
        border: none;
        background-image: none;
        }

        img {
            pointer-events: none;
        }

            h5 { margin: 0 0 0.4em; cursor: move; }
            a { 
                float: right; 
                &.ui-icon-zoomin { 
                    float: left; 
                }
            }
            
            img { width: 100%; cursor: move; }
    }
}

.wrapper {
    .column {
        .droppableArea {
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &.dropTop {
            .droppableArea {
                background-image: url("../img/table-svgrepo-com.svg")
            }
        }
        &.dropBot {
            .droppableArea {
                background-image: url("../img/trash.svg");
            }
        }
    }

    
}

.droppableArea {
    height: 100%;
    width: 100%;
    img {
        position: absolute;
        width: 90%;
    }
    &:hover {
        >img {
            opacity: 1;
            
        }
    }
}

.dropArea {
    height: 100%; 
    position: relative;
    z-index: 67;
    >li {
        width: 100px;
        height: 100px;
        float: left;
    }

    img {
        position: relative;
        width: 100%;
    }
    h4 { 
        line-height: 16px; 
        margin: 0 0 0.4em; 
        background: #333;

        .ui-icon { 
            float: left; 
        }
    }
   

    .gallery {
        position: absolute;
        top: 30px;
    }

}

.column {
    height: 25vh;
    width: 100%;
    border: 1px solid pink;
    display: flex;
    img {
        max-width: 200px;
        margin: auto;
    }
}
#gallery{
    height: 50vh;
}
@media all and (min-width: 800px){
    .wrapper {
        display: flex;
    }
    .column {
        height: 100vh;
        width: 20vw;
        flex: 1 200px;
        max-width: 200px;
        min-width: 200px;
    }
    #gallery{
        height: 100vh;
    }
}
